{# Cisco Base Configuration Template #}
{# This is the main template that Golden Config will call #}

{% include 'cisco/dod_warning_banner.j2' %}

{# Add more includes as we create more templates #}
{# {% include 'cisco/interfaces.j2' %} #}
{# {% include 'cisco/routing.j2' %} #}
{# {% include 'cisco/snmp.j2' %} #}