{# Juniper Base Configuration Template #}
{# This is the main template that Golden Config will call #}

{% include 'juniper/dod_warning_banner.j2' %}

{# Add more includes as we create more templates #}
{# {% include 'juniper/interfaces.j2' %} #}
{# {% include 'juniper/routing.j2' %} #}
{# {% include 'juniper/snmp.j2' %} #}