{#
  Juniper Class of Service (CoS) Configuration Template
  
  This template implements a comprehensive QoS configuration following
  the ASLAN organizational standard for traffic prioritization.
  
  Variables:
  - cos_enable: Enable CoS configuration (default: true)
  - cos_profile: CoS profile name (default: "ASLAN")
  - host_outbound_class: Forwarding class for host-outbound traffic (default: "NC")
  - host_outbound_dscp: DSCP code point for host-outbound traffic (default: "110000")
  
  Traffic Classes (Priority Order):
  1. NC (Network Control) - Queue 5 - 5% guaranteed
  2. EF (Expedited Forwarding) - Queue 4 - 20% shaped, strict-high priority
  3. dscp15 (Custom) - Queue 4 - Shares EF scheduler
  4. AF41 (Assured Forwarding) - Queue 3 - 15% shaped
  5. AF31 (Assured Forwarding) - Queue 2 - 30% shaped
  6. Default - Queue 1 - 10% shaped
  7. BE (Best Effort) - Queue 0 - Remainder bandwidth
#}
{%- set cos_enable = cos_enable | default(true) -%}
{%- set cos_profile = cos_profile | default("ASLAN") -%}
{%- set host_outbound_class = host_outbound_class | default("NC") -%}
{%- set host_outbound_dscp = host_outbound_dscp | default("110000") -%}

{%- if cos_enable %}
class-of-service {
    classifiers {
        dscp dscp-{{ cos_profile }}-v4 {
            forwarding-class NC {
                loss-priority low code-points 110000;
            }
            forwarding-class EF {
                loss-priority high code-points [ 101000 100000 101001 101011 100001 100011 110001 101101 ];
            }
            forwarding-class AF41 {
                loss-priority high code-points [ 011000 101110 011100 011110 100110 ];
            }
            forwarding-class AF31 {
                loss-priority high code-points [ 001001 001011 010001 010011 011001 011011 010000 ];
            }
            forwarding-class BE {
                loss-priority high code-points 000000;
            }
            forwarding-class Default {
                loss-priority high code-points 001000;
            }
            forwarding-class dscp15 {
                loss-priority high code-points 001111;
            }
        }
        dscp-ipv6 dscp-{{ cos_profile }}-v6 {
            forwarding-class NC {
                loss-priority low code-points 110000;
            }
            forwarding-class EF {
                loss-priority high code-points [ 101000 100000 101001 101011 100001 100011 110001 101101 ];
            }
            forwarding-class AF41 {
                loss-priority high code-points [ 011000 101110 011100 011110 100110 ];
            }
            forwarding-class AF31 {
                loss-priority high code-points [ 001001 001011 010001 010011 011001 011011 010000 ];
            }
            forwarding-class BE {
                loss-priority high code-points 000000;
            }
            forwarding-class Default {
                loss-priority high code-points 001000;
            }
            forwarding-class dscp15 {
                loss-priority high code-points 001111;
            }
        }
    }
    host-outbound-traffic {
        forwarding-class {{ host_outbound_class }};
        dscp-code-point {{ host_outbound_dscp }};
    }
    forwarding-classes {
        class NC queue-num 5;
        class AF41 queue-num 3;
        class AF31 queue-num 2;
        class Default queue-num 1;
        class BE queue-num 0;
        class dscp15 queue-num 4;
        class EF queue-num 4;
    }
    interfaces {
        ge-* {
            unit 0 {
                classifiers {
                    dscp dscp-{{ cos_profile }}-v4;
                }
            }
        }
        xe-* {
            unit 0 {
                classifiers {
                    dscp dscp-{{ cos_profile }}-v4;
                }
            }
        }
    }
    rewrite-rules {
        dscp dscp15-45 {
            forwarding-class dscp15 {
                loss-priority high code-point 101101;
            }
            forwarding-class NC {
                loss-priority low code-point 110000;
            }
            forwarding-class EF {
                loss-priority high code-point 110001;
            }
            forwarding-class AF41 {
                loss-priority high code-point 100110;
            }
            forwarding-class AF31 {
                loss-priority high code-point 010000;
            }
            forwarding-class BE {
                loss-priority high code-point 000000;
            }
            forwarding-class Default {
                loss-priority high code-point 001000;
            }
        }
        dscp-ipv6 dscp15-45 {
            forwarding-class dscp15 {
                loss-priority high code-point 101101;
            }
            forwarding-class NC {
                loss-priority low code-point 110000;
            }
            forwarding-class EF {
                loss-priority high code-point 110001;
            }
            forwarding-class AF41 {
                loss-priority high code-point 100110;
            }
            forwarding-class AF31 {
                loss-priority high code-point 010000;
            }
            forwarding-class BE {
                loss-priority high code-point 000000;
            }
            forwarding-class Default {
                loss-priority high code-point 001000;
            }
        }
    }
    scheduler-maps {
        map-{{ cos_profile }} {
            forwarding-class NC scheduler NC;
            forwarding-class EF scheduler EF;
            forwarding-class AF41 scheduler AF41;
            forwarding-class AF31 scheduler AF31;
            forwarding-class BE scheduler BE;
            forwarding-class Default scheduler Default;
            forwarding-class dscp15 scheduler AF41;
        }
    }
    schedulers {
        NC {
            transmit-rate percent 5;
        }
        EF {
            shaping-rate percent 20;
            priority strict-high;
        }
        AF41 {
            shaping-rate percent 15;
            buffer-size percent 12;
            priority low;
        }
        AF31 {
            shaping-rate percent 30;
            buffer-size percent 30;
            priority low;
        }
        BE {
            transmit-rate {
                remainder;
            }
            buffer-size {
                remainder;
            }
            priority low;
        }
        Default {
            shaping-rate percent 10;
            buffer-size percent 10;
            priority low;
        }
    }
}
{%- endif %}
